@use "../abstracts/" as *;

header{
  @include mobile{
    padding:1rem 0;
  }
  z-index:10;
  position: sticky;
  top:0;
  width:100%;
  padding-top:2rem;
  padding-bottom:2rem;
  background:rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  .header__inner{
    @include mobile{
      justify-content: center;
    }
    max-width:1236px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
  }
  h1{
    @include mobile{
      display:none
    }
    width:5.6rem;
    height:5.6rem;
    img{
      width:100%
    }
  }
  ul{
    display:flex;
    li{
      @include mobile{
        &:last-child{
          margin-right:0
        }
      }
      position:relative;
      height:4.7rem;
      margin-right:1.6rem;
      line-height:4.7rem;
      padding:0 2.4rem;
      color:rgba(0,0,0,0.6);
      font-size:1.7rem;
      &:hover{
        a{
          color:rgba(0,0,0,0.9)
        }
      }
      &.active{
        color:#000;
        &:after{
          content:'';
          position:absolute;
          bottom:0;
          left:50%;
          transform: translateX(-50%);
          background:#2a2a2a;
          border-radius:100px;
          width:6px;
          height:5px;
        }
      }
    }
  }
}

main{
  @include mobile{
    width: 100%;
    overflow: hidden;
  }
}

section{
  max-width:1236px;
  margin:0 auto;
  .badge{
    display:inline-block;
    width:fit-content;
    height:2.2rem;
    line-height:2.2rem;
    padding:0 1.2rem;
    border-radius:0.4rem;
    font-size:1.1rem;
    background:#f5f5f5;
    text-align:center;
    color:rgba(0,0,0,0.6);
  }
}
.intro{
  @include mobile{
    padding:9rem 2rem;
  }
  padding:17rem 0;

  &__title{
    font-size:4.2rem;
    font-weight:700;
    @include mobile{
      font-size:2rem;
    }
  }
  &__content{
    padding-top:2.4rem;
    font-size:2rem;
    font-weight:600; 
    @include mobile{
      font-size:1.4rem;
    }
  }
  &__img{
    padding-top:2.4rem;
    .hi{
      width:110px
    }
    .scrolldown{
      width:206px;
      animation: btn-motion1 1.5s ease-in-out infinite;
      cursor:pointer;
    }
  }
  
}

.sitewrap{
  max-width:none;
  width:100%;
}
.site{
  position:relative;
  width:100%;
  background:#F7F7F7;
  &:after{
    content:'';
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:200px;
    background:url('@/assets/img/shade.png') no-repeat 100% 0 / cover;
  }
  &.type2{
    background:#fff;
  }

  h3{
    @include mobile{
      font-size:2rem;
    }
    font-size:3rem;
    margin-top:1rem;
  }
  p{
    @include mobile{
      font-size:1.3rem;
    }
    margin-top:1.6rem;
    font-size:1.8rem;
    color:rgba(0,0,0,0.6);
  }
  .section1{
    @include mobile{
      padding:5.2rem 2rem 0;
    }
    padding:10.4rem 0 0;
    text-align:center;
    .badge{
      background:#fff;
    }
  
    .content{
      @include mobile{
        width:100%;
        background-image:none;
        border: 4px solid #eee;
        border-radius: 20px;
      }
      position:relative;
      width:1143px;
      height:344px;
      overflow:hidden;
      margin:1rem auto 0;
      background:url('@/assets/img/bg_iPad.png') no-repeat 0 0 / cover;
      &__inner{
        @include mobile{
          top:4px;
          width:100%;
        }
        position:absolute;
        top:28px;
        left:50%;
        transform:translateX(-50%);
        width:886px;
        height:320px;
        background:url('@/assets/img/kbland.png') no-repeat 0 0 / cover;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }
    }
  }

 
  .section2{
    @include mobile{
      width:100%;
      flex-direction: column;
      align-items: center;
    }
    
    padding:8rem 0 0;
    display:flex;
    width:900px;
    margin:0 auto;
    justify-content: space-between;
    .badge{
      margin-top:1rem;
    }
    .align{
      @include mobile{
        align-items: center;
      }
      flex-direction: column;
      justify-content: center;
    }
    .content{
      @include mobile{
        width:280px;
        margin:1rem auto 0;
        background-size:contain;
      }
      position:relative;
      width:368px;
      height:500px;
      overflow:hidden;
      margin:1rem 0 0;
      background:url('@/assets/img/iPhone.png') no-repeat 0 0 / cover;
      
      &__inner{
        @include mobile{
          top:10px;
          width:260px;
        }
        position:absolute;
        top:18px;
        left:50%;
        transform:translateX(-50%);
        width: 330px;
        height: 100%;
        background:url('@/assets/img/ich.png') no-repeat 0 0 / cover;
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        &.hana{
          background:url('@/assets/img/hana.png') no-repeat 0 0 / cover;
        }
      }
    }

  }
}

.site.type2 + .site.type2 .section2{
  @include mobile{
    flex-direction: column-reverse;
  }
}

.morewrap{
  max-width:1024px;
  margin:0 auto;
  h3{
    font-size:3rem;
    margin-top:10rem;
    padding:0 2.4rem;
  }
  ul{
    @include mobile{
     flex-direction: column; 
    }
    display:flex;
    flex-wrap:wrap;
    gap:20px;
    margin-top:5rem;

    li{
      flex:1 1 40%;
      padding:2.4rem;
      .img{
        width:100%;
        height:30.2rem;
        border-radius:4rem;
        background:#F5F5F5;
        overflow:hidden;
        box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.07);
        img{
          width:100%;
          height:100%;
          object-fit: cover;
        }
      }
      h4{
        font-size:1.6rem;
        margin-top:2rem;
      }
      p{
        margin-top:.6rem;
        font-size:1.4rem;
        color:rgba(0,0,0,0.6);
      }
      .badgew{
        margin-top:.6rem;
        display:flex;
        gap:4px;
      }
    }
  }
}

footer{
  @include mobile{
padding:0 2rem;
  }
  background:rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  padding:4rem 0;
  .inner{
    max-width:1236px;
    margin:0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    strong{
      font-size:1.2rem;
      font-weight:400;
      color:rgba(0,0,0,0.6);
    }
    button{
      width:119px;
      animation: btn-motion1 1.5s ease-in-out infinite;
      img{
        width:100%;
      }
    }
  }
}
@keyframes btn-motion1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 10px);
  }
}
@keyframes btn-motion2 {
  0%,
  50% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, 5px);
  }
}
